body {background-color: #FFC0CB}
div_1 {color:#DDA0DD; font-weight: bold;}
div_table {color:#7EC0EE; font-weight: bold; text-decoration:none}
div_table table {color: #0000ff; font-size:18px; text-align: center}
headline {color: #ff00ff; font-size:16px}



